# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# Uploads
backend/uploads/

# Database
*.db

# ML models (large files)
ml/models/*.h5
ml/models/*.pt
ml/models/*.pkl
ml/data/

# Jupyter
.ipynb_checkpoints/
